<!doctype html>
<html>
<head>
    <title>Figure examples</title>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh-0.7.1.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh-0.7.1.min.js" ></script>
        {{ figJS|safe }}
</head>
<body

<div class="rawData">
    <p>
        Data Points:<br>
        {% for i in y %}
            {{ i }},
        {% endfor %}
    </p>
</div>

<div class='bokeh' >
    {{ figDiv|safe }}
</div>

<!--
<div class='matplotlib'>
    <img src="static/temp/{{plotPng}}" >
</div>
-->

</body>
</html>
