<html>
<head>
    <!-- Need both of these to make it work -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!--TODO can't get the themes to work-->
    <!--<script type="text/javascript" src="/static/js/themes/gray.js"></script>-->
    <!--<script src="/static/js/themes/gray.js"></script>-->
</head>



<body>
    <div id={{ chartID|safe }} class="chart" style="height: 100px; width: 500px"></div>
    <script>
        var chart_id = {{ chartID|safe }}
        var series = {{ series|safe }}
        var title = {{ title|safe }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var chart = {{ chart|safe }}
    </script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>-->
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <!--<script src="../static/graph.js"></script>-->
</body>
</html>





<!--
<div id="container" style="width:50%; height:400px;"></div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{name: 'Jane', data: [1, 0, 4, 2]},
                 {name: 'John', data: [5, 7, 3, 4]}
                ]
    });
});
</script>




<div id="container2" style="width:50%; height:400px;"></div>
<script>
// this example results in the same output as the ex above, but does it in steps
// make the graph
var options = {
    chart: {
        renderTo: 'container2',
        type: 'bar'
    },
    series: [{name: 'Jane', data: [1, 0, 4]}
            ]
};

// draw the graph
$(document).ready(function() {
    var chart = new Highcharts.Chart(options);
});

// add in more data to the graph
options.series.push({
    name: 'John',
    data: [3, 4, 2]
})
</script>






<script>
// to apply a set of options to ALL CHARTS on the same page, use
// Highcharts.setOptions like shown below:
$(function() {
    Highcharts.setOptions({
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                    ]
            },
            borderWidth: 2,
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
        }
    });

    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
        },

        xAxis: {
            type: 'datetime'
        },

        series: [{
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            pointStart: Date.UTC(2010, 0, 1),
            pointInterval: 3600 * 1000 // one hour
        }]
    });

    var chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'container2',
            type: 'column'
        },

        xAxis: {
            type: 'datetime'
        },

        series: [{
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            pointStart: Date.UTC(2010, 0, 1),
            pointInterval: 3600 * 1000 // one hour
        }]
    });
});
</script>
-->


<html>
