{% extends "base.html" %}
{% block date_and_city %}

<div class="container">
 <div class="starter-template">
  <div class="row" style="height:100vh;">
   <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
    <form action"date_and_city" method="GET">
        <div class="form-group text-center">
            <label style="font-weight:300; font-size:32px;">Enter a city and date:</label>
            <br /><br />
            <!--<input type="text" class="form-control" id="type_id" name="type_id"
                    placeholder="accident | police | road_closed | hazard | jam">-->
            <select class="form-control" id="city" name="city">
                {% for city in cities %}
                <option>{{ city }}</option>
                {% endfor %}
            </select>

            <select class="form-control" id="date" name="date">
                {% for d in dates %}
                <option>{{ d }}</option>
                {% endfor %}
            </select>

            <br/><br/>
            <button type="submit" value="Send" name="type_id-container" class="btn btn-default id-submit">Submit</button>
        </div>
    </form>
   </div>


    <!--the graph-->
    <div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>

    <script>
    $(function () {
        // Create the chart
        $('#container').highcharts({
            chart: { type: 'column' },
            credits: {{ credits|safe }},
            title: {{ title|safe }},
            subtitle: { text: 'Click the columns to view specific event subtypes reported' },
            //xAxis: { type: 'Event Type' },
            xAxis: { type: 'category' },
            yAxis: { title: { text: 'Number Reported' } },
            legend: { enabled: false },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.0f}'
                    }
                }
            },

            tooltip: { headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                       pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
            },

            series: [{
                name: 'Event Types',
                colorByPoint: true,
                data: {{ series_data|safe }}
            }],
            drilldown: {
                series: {{ drilldown_series|safe }}
        }});
    });
    </script>


  </div>
 </div>
</div>

{% endblock %}
