{% extends "base.html" %}
{% block date_and_type %}

<div class="container">
 <div class="starter-template">
  <div class="row" style="height:100vh;">
   <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
    <form action"date_and_type" method="GET">
        <div class="form-group text-center">
            <label style="font-weight:300; font-size:32px;">Enter an event type and date:</label>
            <br /><br />
            <!--<input type="text" class="form-control" id="type_id" name="type_id"
                    placeholder="accident | police | road_closed | hazard | jam">-->
            <select class="form-control" id="type_id" name="type_id">
                {% for etype in event_types %}
                <option>{{ etype }}</option>
                {% endfor %}
            </select>

            <select class="form-control" id="date" name="date">
                {% for d in dates %}
                <option>{{ d }}</option>
                {% endfor %}
            </select>

            <br/><br/>
            <button type="submit" value="Send" name="type_id-container" class="btn btn-default id-submit">Submit</button>
        </div>
    </form>
   </div>

    <!--the graph-->
    <div id="graph" style="width:100%; height:600px;"></div>
    <script>
    $(function() {
        $('#graph').highcharts({
            chart: { type: 'column' },

            credits: {{ credits|safe }},
            //credits: {"text": 'jason gors', "href": 'http://jgors.com'},

            //title: { text: 'World\'s largest cities per 2014' },
            title: {{ title|safe }},

            //subtitle: { text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>' },
            subtitle: {{ subtitle|safe }},

            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: { fontSize: '13px', fontFamily: 'Verdana, sans-serif' }
                }
            },

            //yAxis: {
            //    min: 0,
            //    title: { text: 'Population (millions)' }
            //},
            yAxis: {{ yAxis|safe }},

            legend: { enabled: false },

            //tooltip: { pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>' },
            tooltip: {{ tooltip|safe }},

            series: [{//name: series_name,
                    //data: series_data,
                    name: '{{ series_name|safe }}',
                    data: {{ series_data|safe }},
                    dataLabels: {
                        enabled: false,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.0f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                    }}}]
        });
    });
    </script>
  </div>
 </div>
</div>

{% endblock %}
