<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple icons</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

// This example adds a marker to indicate the position of Bondi Beach in Sydney,
// Australia.
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: -33, lng: 151}
  });

  var image = '../static/icons/police.png';
  var copMarker = new google.maps.Marker({
    position: {lat: -33.890, lng: 151.274},
    map: map,
    icon: image
  });
}
   //marker.setPosition(new google.maps.LatLng(47.3732589, 8.2382168));
   //marker.setMap(map);
   </script>
   <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17SsLYOnnPMuyxaAOb0HcEgKIQG1j8Ws&signed_in=true&callback=initMap"></script>
  </body>
</html>

