{% extends "base.html" %}
{% block realtime_reports3 %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


<script>
function getChartInfo(title, type, labelsarraylength, min, max, minRange) {
    labelsarraylength = ((labelsarraylength == null) ? 25 : labelsarraylength);
    type = ((type == null) ? 25 : type);

    var chartinfo = {
        chart: {
            "type": type,
            backgroundColor: '#131313'
        },
            "title": {
            text: $("<div/>").html(title).text(),
            style: {
                color: "#C3C3C3",
                fontSize: "16px"
            }
        },
        xAxis: {
            categories: ((labelsarraylength > 0) ? getGraphLabels(labelsarraylength) : null),
            tickmarkplacement: 'off',
                "title": { enabled: false },
            labels: {
                style: {
                    color: '#C3C3C3',
                    font: '13px Trebuchet MS, Verdana, sans-serif'
                }
            },
            lineColor: '#4B4B4B',
            lineWidth: 0,
            gridLineWidth: 1,
            gridLineDashStyle: 'Dot',
            gridLineColor: '#2F2F2F',
            tickLength: 0
        },
        yAxis: {
            "min": min,
                "max": max,
                "minRange": minRange,
                "title": { text: '' },
            labels: {
                formatter: function () {
                    return this.value;
                },
                style: {
                    color: '#C3C3C3',
                    font: '13px Trebuchet MS, Verdana, sans-serif'
                }
            },
            gridLineColor: '#4B4B4B'
        },
        tooltip: { enabled: false },
        legend: { enabled: false },
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                },
                lineWidth: 3
            },
            area: {
                stacking: 'normal',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: []
    }

    return chartinfo;
}

var latestVoltageMin = 0;
var latestVoltageMax = 0;

$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        setInterval(function () {
            latestVoltageMin = Math.random() * 100;
            latestVoltageMin += 180;
            latestVoltageMax = Math.random() * 100;
            latestVoltageMax += 180;
        }, 2000);

        var minVoltage = 200.25;
        var maxVoltage = 259.75;
        var chartinfo = getChartInfo("Min & max voltage (V)", "spline", -1, minVoltage, maxVoltage);

        chartinfo.chart.animation = Highcharts.svg;
        chartinfo.chart.events = {
            load: function () {
                // set up the updating of the chart
                var minLine = this.series[0];
                var maxLine = this.series[1];

                setInterval(function () {
                    var x = (new Date()).getTime();
                    var ymin = ((latestVoltageMin > maxVoltage) ? maxVoltage : ((latestVoltageMin < minVoltage) ? minVoltage : latestVoltageMin));
                    var ymax = ((latestVoltageMax > maxVoltage) ? maxVoltage : ((latestVoltageMax < minVoltage) ? minVoltage : latestVoltageMax));

                    //console.log("ymin = " + ymin + "      ymax = " + ymax);

                    minLine.addPoint([x, ymin], false, true);
                    maxLine.addPoint([x, ymax], true, true);
                }, 1000);
            }
        };

        chartinfo.xAxis.labels.enabled = false;
        chartinfo.xAxis.tickPixelInterval = 75;

        function generateArray(){
            var emptyarray = [],
                time = (new Date()).getTime(),
                i;

            for (i = -50; i <= 0; i++) {
                emptyarray.push({
                    x: time + i * 1000,
                    y: 230
                });
            }
            return emptyarray;
        }

        chartinfo.series = [{
            name: 'Minimum Voltage',
            data: generateArray(),
            color: '#FFFFDD'
        }, {
            name: 'Maximum Voltage',
            data: generateArray(),
            color: '#B72E8D'
        }];

        $('#container').highcharts(chartinfo);
    });

});

</script>

{% endblock %}
