{% extends "base.html" %}
{% block realtime_geojson %}


<style>
    html, body, #map {
    margin: 0;
    padding: 0;
    height: 100%;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"> </script>


<script>
var map;

function initialize() {
    var mapOptions = {
        zoom: 10,
        center: {{center|safe}},
        mapTypeId: google.maps.MapTypeId.Map
    };

    map = new google.maps.Map(document.getElementById('map'),
        mapOptions);
}

function getCircle(numofthumbsup) {
    var circle = {
        path: google.maps.SymbolPath.CIRCLE,
        fillColor: 'red',
        fillOpacity: .6,
        //scale: Math.pow(2, numofthumbsup) / 2,
        scale: numofthumbsup /2.0 ,
        strokeColor: 'white',
        strokeWeight: .5
    };
    return circle;
}


/*
function getData() {
    var script = document.createElement('script');
    script.src = '/api_geojson/{{city|safe}}';
    document.getElementsByTagName('head')[0].appendChild(script);

    map.data.setStyle(function(feature) {
        var numofthumbsup = feature.getProperty('numofthumbsup');
        return { icon: getCircle(numofthumbsup) };
    });
};

function eqfeed_callback(results) {
    //console.log(results)
    map.data.addGeoJson(results);
}
*/

function removeOverlay() {
    map.data.forEach(function(feature) {
        //filter...
        map.data.remove(feature);
    });
}

function getData() {
    map.data.loadGeoJson('/api_geojson/{{city|safe}}');
    map.data.setStyle(function(feature) {
        var numofthumbsup = feature.getProperty('numofthumbsup');
        return { icon: getCircle(numofthumbsup) };
                        }
        )
}


google.maps.event.addDomListener(window, 'load', initialize);


$(function () {
    setInterval(removeOverlay, 5000); //5000
    setInterval(getData, 5000); //5000
});

</script>

<body>
 <div id="map"></div>
</body>

{% endblock %}
