{% extends "base.html" %}
{% block index %}

 <body bgcolor="lightgray">
 <body>
  <h1><center><b>anywaze</b> </center></h1>
  <h2><center>large scale analytics on Waze data</center></h2> <br>
  <center><iframe src="https://docs.google.com/presentation/d/1NcbeRkWBlImWKn7ORjgAJhqQzXHiQjuJTxDIa5yujJ8/embed?start=false&loop=false&delayms=3000"
            frameborder="0" width="560" height="315" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
            <!--frameborder="0" width="960" height="540" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">-->
    </iframe>
    <br> <br> <br> <br>

    <h3>and here's a screen cast of anywaze in action:</h3> <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3gzrWVX6NSg" frameborder="0" allowfullscreen></iframe>
    <br> <br> <br> <br>

  </center>
 </body>

{% endblock %}
