{% extends "base.html" %}
{% block index %}

 <body bgcolor="lightgray">
 <body>
  <h1><center><b>anywaze</b> </center></h1>
  <h2><center>large scale analytics on Waze data</center></h2> <br>
  <center><iframe src="https://docs.google.com/presentation/d/1NcbeRkWBlImWKn7ORjgAJhqQzXHiQjuJTxDIa5yujJ8/embed?start=false&loop=false&delayms=3000"
            frameborder="0" width="1024" height="576" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
    </iframe>
  </center>
 </body>

{% endblock %}
