{% extends "base.html" %}
{% block realtime_reports %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="realtime_graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: { useUTC: false }
        });

        $('#realtime_graph').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                                y1 = Math.random();
                            series.addPoint([x, y, y1], true, true);
                        }, 1000);
                    }
                }
            },
            title: { text: 'Live Data' },
            xAxis: { type: 'datetime', tickPixelInterval: 150 },
            yAxis: {
                title: { text: 'Value' },
                plotLines: [{ value: 0, width: 1, color: '#808080' },
                            { value: 1, width: 1, color: '#808080' }
                ]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: { enabled: false },
            exporting: { enabled: false },
            series: [{
                name: 'The type goes here',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random(),
                            y1: Math.random(),
                        });

                        });
                    }
                    return data;
                }())
            }]
        });
    });
});
</script>


{% endblock %}
